body {
  background: #eee;
  color: #333;
  display: grid;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  grid-template-areas:
    "header header"
    "sidebar main";
  grid-template-columns: 30% 70%;
  grid-template-rows: min-content 1fr;
  height: 100vh;
  justify-items: stretch;
  margin: 0;
  width: 100vw;
}

header {
  align-items: center;
  background: #025d8c;
  color: #fff;
  font-weight: 100;
  grid-area: header;
  padding: 2rem;
  text-align: center;
}

[part="header-name"] {
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 0.3rem;
  padding: 1rem 5rem;
  text-transform: uppercase;
}

[part="header-separator"] {
  background: #fff;
  height: 1px;
  margin: auto;
  width: 8rem;
}

[part="header-title"] {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  padding: 1rem;
}

[part="sidebar"] {
  align-self: stretch;
  background: #fafafa;
  color: #035c8c;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  gap: 1rem;
  grid-area: sidebar;
  padding: 2rem;
  text-align: right;
}

[part="sidebar"] a {
  --bs-icon-link-transform: translate3d(0, -0.125rem, 0);
  color: #035c8c;
  text-decoration: none;
}

main {
  align-self: stretch;
  background: #fff;
  font-size: 1.25rem;
  grid-area: main;
  padding: 0 15% 2rem 2rem;
}

section h2 {
  color: #035c8c;
  padding: 2rem 0 1rem;
}

section h3 {
  font-size: 1.5rem;
}

.position {
  padding-bottom: 2rem;
}

.position h3 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.timeframe {
  padding-bottom: 1rem;
}

.projects {
  border-left: 1px solid #ddd;
  font-size: 1.2rem;
  padding-left: 1rem;
}

.project .name {
  color: #666;
  font-weight: 400;
}

.project .timeframe {
  font-size: 1.1rem;
}

.project .description {
  font-size: 1.1rem;
  list-style-type: "– ";
}
